.menuItem:hover{
    -fx-background-color: #146886;
    -fx-border-color: darkblue;
    -fx-border-width: 0px 0px 0px 3px;
}

.menuItem:focused{
    -fx-background-color: #146886;
    -fx-border-color: white;
    -fx-border-width: 0px 0px 0px 3px;
}

/*
.menuItem:pressed:hover{
    -fx-background-color: #146886;
    -fx-border-color: RED;
    -fx-border-width: 0px 0px 0px 3px;
}*/
